#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #e3d6d2;
  font-family: "Pathway Extreme", sans-serif;
}

.mainh1 {
  font-size: 50px;
  color: #1b6495;
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-top: -40px;
}

.main-p {
  font-size: 20px;

  margin-top: 20px;
}

p {
  display: flex;
  justify-content: center;
  color: #1b6495;
  font-size: 18px;
  max-width: 90%;
  margin: 0 auto;
}

.book {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.search-container {
  justify-content: center;
  display: flex;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

.searchbar,
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  border: #e3d6d2;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.search-btn {
  display: flex;
  border: #1b6495;
  text-align: center;
  background-color: #1b6495;
  color: white;
  margin-left: 10px;
}

.search-btn:hover {
  border: #4b9cd3;
  background-color: #4b9cd3;
}

.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.partospeech {
  display: flex;
}

.definition-answers {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  list-style-type: disc;
  max-width: 90%;
}

.definition-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.error-text {
  display: flex;
  justify-content: center;
  font-size: 19px;
  font-weight: bolder;
  color: #7f0000;
}

.definition-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  color: #093e61;
  font-size: 15px;
  margin-top: auto;
}
