body {
  display: flex;
  min-height: 100vh;
  background-color: #e3d6d2;
  font-family: 'Pathway Extreme', sans-serif;
}

.mainh1 {
  font-size: 50px;
  color: #1b6495;
  display: flex;
}

p {
  justify-content: center;
  display: flex;
  color: #1b6495;
  font-size: 20px;
}

.book {
  display: flex;
  width: 400px;
  height: 400px;
  margin: auto;
}


.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px;
  border-radius: 10px;
  border: solid 2px #e3d6d2;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.search-btn {
  display: flex;
  height: 45px;
  border-radius: 10px;
  border: solid 2px #4B9CD3;
  font-size: 20px;
  text-align: center;
  background-color: #4B9CD3;
}

.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px;
  border-radius: 20px;
  height: 70px;
  color: #e3d6d2;

}

.word-span {
  color: #1b6495;
  font-size: 30px;
  ;
}